version: "3.9"

networks:
  apps_net:

volumes:
  oradata: {}

services:
  oracledb:
    image: container-registry.oracle.com/database/free:latest
    container_name: oracledb
    environment:
      - ORACLE_PWD=SenhaForte123
      - ORACLE_SID=FREE
      - ORACLE_PDB=FREEPDB1
      - ORACLE_MEMORY=2048
    ports:
      - "1521:1521"   # Oracle Listener
      - "5500:5500"   # EM Express (se imagem habilitar)
    volumes:
      - oradata:/opt/oracle/oradata
      - ./oracle/init:/opt/oracle/scripts/startup
    healthcheck:
      test: ["CMD-SHELL", "echo 'select 1 from dual;' | sqlplus -s sys/SenhaForte123@localhost:1521/FREEPDB1 as sysdba || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 30
    networks: [apps_net]

  api-java:
    build:
      context: ./java-api
      dockerfile: Dockerfile
    container_name: api-java
    depends_on:
      oracledb:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: "jdbc:oracle:thin:@oracledb:1521/FREEPDB1"
      SPRING_DATASOURCE_USERNAME: "APP"
      SPRING_DATASOURCE_PASSWORD: "SenhaApp123"
      SPRING_JPA_HIBERNATE_DDL_AUTO: "none"
    ports:
      - "8080:8080"
    networks: [apps_net]

  api-dotnet:
    build:
      context: ./dotnet-api
    container_name: api-dotnet
    depends_on:
      oracledb:
        condition: service_healthy
    environment:
      ConnectionStrings__Default: "User Id=APP;Password=SenhaApp123;Data Source=oracledb:1521/FREEPDB1;"
      ASPNETCORE_URLS: "http://0.0.0.0:5000"
    ports:
      - "5000:5000"
    networks: [apps_net]

  reverse-proxy:
    image: nginx:stable
    container_name: reverse-proxy
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - api-java
      - api-dotnet
    networks: [apps_net]
